.ExperimentReport {
	min-width: 20em;
	color: white !important;
}

.ExperimentReport-json{
	min-height: 10em;
	width: 100%;
}

.ExperimentReport .experiment_description {
	color: white !important;
	text-shadow: 0 0px 0 hsla(0,0%,100%,0) !important;
}

.ExperimentReport .experiment_title {
	color: white !important;
	text-shadow: 0 0px 0 hsla(0,0%,100%,0) !important;
}

.scrollable {
	overflow: auto !important;
	height: 30em !important;
	width: 100%;
}
